/**
 *  Homework 1 Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  color: #777;
  background: #777;
  width: 960px;
}

header {
 background: #ebebeb(224, 29, 29);
 margin-bottom: 20px;
 padding: 20px;
 margin-right: 80px;
 margin-left: 80px;
 color: #777;
 background: #ebebeb;
}

#nav {
 background: #ebebeb(224, 29, 29);
 margin-bottom: 20px;
 padding: 20px;
 margin-right: 80px;
 margin-left: 80px;
 color: #777;
 background: #ebebeb;
}


#section {
  padding: 70px;
  margin-right: 80px;
  margin-left: 80px;
  margin-bottom: 20px;
  color: #777;
  background: #ebebeb;
}

#aside {
  float: right;
  width: 50%;
  padding: 100px;
  color: #777;
  background: #ebebeb;
}

#article {
  float: left;
  width: 50%;
  color: #777;
  background: #777;
}

#h123 {
  float: left;
  width: 200px;
  color: #777;
  background: #ebebeb;
}


footer {
  padding: 20px;
  clear: both;
  background: #ccc;
  margin-right: 80px;
  margin-left: 80px;
}
